/* flexbox for div */

body {
    /* http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html */
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    /* display: flex; */
    /* This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
    display: flex;
    position: static;
    /* */
    flex-direction: row;
    flex-wrap: nowrap;
    /* horizontal align */
    justify-content: flex-start;
    /* vertical align */
    /*align-items: center;*/
    width: 99.6%;
    /* use vw for body height, and the height change base on width */
    /* all children can use percentage height */
    /* height: 900vw; */
    margin: 0;
    padding: 0;
    margin-left: 0.2%;
    margin-top: 0.2%;

    /* default font-size for body */
    font-size: 0.8vw;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;

}

.yimage {
    /* important to control the logo image size */
    max-height: 100%;
}

.ximage {
    /* important to control the logo image size */
    max-width: 100%;
}

.yimage5x {
    /* important to control the logo image size */
    max-height: 500%;
}

.ximage5x {
    /* important to control the logo image size */
    max-width: 500%;
}

.yseperator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1%;
    margin: 0px;
}

.mainFlexBlock {
    width: 99.6%;
    /* height is needed here */
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
}

.headBlock {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    /* head block height shoud not use percent, use vw */
    height: 2vw;
    margin: -1px;
    background-color: white;
    /* vertical list */
    flex-direction: column;
}

.headBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0px;
    background-color: white;
}

.messageBar {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 0px;
    margin: 0px;
    color: green;
    background-color: white;
    font-size: 1vw;
}

.messageToggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 5%;
    height: 80%;
    margin-left: 0.5vw;
    color: green;
    background-color: white;
    font-size: 0.4vw;
}

.headLeftBlock {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 85%;
    height: 100%;
    background-color: white;
    margin: 0px;
}

.headLogo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 4%;
    height: 100%;
    margin: 0px;
}

.headRightBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    position: relative;
    width: 15%;
    height: 100%;
    background-color: white;
    margin: 0px;
}

.xseperator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 5%;
    height: 100%;
    margin: 0px;
}

.headNotifyLogo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 40%;
    height: 100%;
    margin: 0px;
}

.headProfileLogo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0px;
    background-color: white;
}

.loginLogoutHead {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0px;
    background-color: white;
}

.logoImg {
    /* important to control the logo image size */
    max-height: 100%;
    cursor: pointer;
    margin-left: 50%;

}

.headText {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    height: 100%;

    margin: 0px;
    /* auto font-size: https://css-tricks.com/viewport-sized-typography/ */
    font-size: 1vw;
    background-color: white;
}

.mainBodyBlock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0px;
    background-color: white;
}

.leftBlock {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    position: relative;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 1.3%;
    width: 14%;
    height: 100%;
    background-color: white;
}

.leftBlockImg {
    max-width: 100%;
}

.rightBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 86%;
    height: 100%;
    background-color: #e6e6e6;
    flex-direction: column;
    font-size: 1vw;
}

.unassignedBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 97%;
    min-height: 5vw;
    margin-top: 1.5%;
    background-color: white;
}

.unassignedTextBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 3%;
    background-color: white;
    color: rgba(52, 52, 52, 0.80);

}

.unassignedListBlock {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70%;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 1vw;
    overflow-y: hidden;
}

.unassignedText {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    font-size: 1vw;
}

.unassignedToggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: white;
    width: 30%;
    height: 90%;
    margin-right: 0.5%;
}

.unassignedJob {
    background-color: #e6e6e6;
    display: flex;
    margin: 0px;
    max-width: 16vw;
    width: 180px;
    height: 6vw;
    padding-left: 5px;
    padding-right: 30px;
    border-left: 3px solid gray;
    flex-direction: column;
    /*font-size: 1vw;*/
    font-size: smaller;
    flex: 0 0 auto;
    overflow: visible;
}

.unassignedJobStatus {
    display: flex;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    flex: 0 0 auto;
    color: rgba(52, 52, 52, 0.80);
}

.unassignedJobTitle {
    display: flex;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    flex: 0 0 auto;
    font-size: 1vw;
    color: rgba(52, 52, 52, 0.80);
}

.unassignedJobDetail {
    display: flex;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    flex: 0 0 auto;
    overflow: hidden;
    color: rgba(52, 52, 52, 0.80);
}

.scheduledDateBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 6vw;
    font-size: 1vw;
}

.scheduledMatrixBlock {
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1.5%;
    width: 97%;
}

.dayMatrixBlock {
    display: flex;
    justify-content: flex-start;
    margin-top: -1px;
    position: relative;
    flex-direction: column;
    height: 100%;
    background-color: white;
    width: 100%;
}

/* filterDrop down support */
.filterbar {
    display: flex;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.filterbar a {
    float: right;
    text-align: center;
    text-decoration: none;
}

.filterDropdown {
    float: right;
    overflow: hidden;
    width: 100%;
    background-color: #e6e6e6;
}

.filterDropdown .filterDropbtn {
    background-color: inherit;
    width: 100%;
    text-align: left;
    border: 0px solid;
}

.jobStatusArrow{
    background-color: #e6e6e6;
    border: 0px solid;
}

.filterbar a:hover, .filterDropdown:hover .filterDropbtn {
    width: 100%;
}

.filterDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    color: rgba(52, 52, 52, 0.80);
    width: 100%;
}

.filterDropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    width: 100%;
    text-align: left;
}

.filterDropdown-content a:hover {
    background-color: #ddd;
}

.filterDropdown:hover .filterDropdown-content {
    display: flex;
}

#jobStatusFilterID{
    width: 100%;
    border: 0px solid;
}

/* end of filterDrop down support */
.LoginMessage {
    display: flex;
    text-align: left;
    height: max-content;
    width: 70%;
    padding-right: 3%;
}

.dayViewHead {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
    height: max-content;
    width: 100%;
    min-height: 2vw;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
}

.viewHeadTitle {
    display: flex;
    flex: 0 0 14.26%;
    border-right: 1px solid #e6e6e6;
    height: max-content;
    padding-left: 1%;
    color: rgba(52, 52, 52, 0.80);
}

.dayViewLines {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.viewOneLine {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    height: 5vw;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.miniFlexBox {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.maxFlexBox {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 0.8vw;
    font-weight: bold;
    position: relative;
    color: rgba(52, 52, 52, 0.80);
}


.maxFlexBoxCount {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 0.7vw;
    position: relative;
    color: rgba(52, 52, 52, 0.80);
}

.viewUserTitle {
    display: flex;
    flex: 0 0 14.26%;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding-left: 0.4%;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.viewUserTitleImg {
    display: flex;
    height: fit-content;
    width: 15%;
    margin-left: 5%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1;
    font-size: 110%;
    top:10%;
}

.SchedAvatar {
    width: 100%;
    display: flex;
}

.viewUserTitleText {
    display: inline-flex;
    height: fit-content;
    top: 10%;
    width: 80%;
    margin-left: 5%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    font-size: 110%;
}

.viewUserTitleDel{
    display: inline-flex;
    height: fit-content;
    top: 5%;
    width: 5%;
    margin-right: 5%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    font-size: 150%;
}

.dayViewUserJobFirstBlock {
    display: inline-flex;
    width: 7.13%;
    flex: 0 0 7.13%;
    height: 100%;
    padding-left: 0.4%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
    overflow: visible;
    z-index: 8;
    white-space: nowrap;
    color: rgba(52, 52, 52, 0.80);
}

.dayViewUserJobBlock {
    display: inline-flex;
    width: 7.13%;
    flex: 0 0 7.13%;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding-left: 0.4%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
}

.dayViewUserIdleBlock {
    display: flex;
    width: 7.13%;
    flex: 0 0 7.13%;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding-left: 0.4%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    z-index: 6;
}

.ScheduleDatePickerText {
    display: flex;
    height: max-content;
    margin-bottom: -0.5%;
    margin-left: 1%;
    color: rgba(52, 52, 52, 0.80);
}

.ScheduleDatePickerInput {
    display: flex;
    height: max-content;
    margin-left: 1%;
    align-items: center;
    color: rgba(52, 52, 52, 0.80);
}

.ScheduleDatePickerBlock {
    display: flex;
    width: 70%;
    height: 100%;
    margin-left: 1%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ScheduleNewJobBlock {
    display: flex;
    width: 30%;
    height: 80%;
    margin-left: 1%;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

#newJobBtn {
    height: 50%;
    border-radius: 18px;
    background-color: #43b75b;
    color: white;
    position: relative;
    font-size: smaller;
    text-align: center;
    width: 28%;
    border: 0px solid;
    right: 8%;
    border: none;
}


#addNewBtn {
    height: 4%;
    border-radius: 18px;
    background-color:  #effce9;
    color: #43b75b;
    position: relative;
    font-size: smaller;
    width: 48%;
    font-weight: bold;
    right: 3%;
    border: none;
}

#SchedDatePicker {
    background-color: transparent;
    font-size: 1.8vw;
    font-weight: bold;
    width: 72%;
    border: 0px solid;
    color: rgba(52, 52, 52, 0.80);
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
}

.MidMenuBarBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 97%;
    height: 6vw;
    font-size: 1vw;
    background-color: white;
}

.MenuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2%;
    width: 40%;
}

.MidMenuItem {
    display: flex;
    position: relative;
    height: 100%;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}

.RightMenuItem {
    width: 16%;
    display: flex;
    position: relative;
    height: 100%;
    margin-top: 5%;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.SwitchBtn {
    padding: 5px;
    border-radius: 15px;
    font-size: smaller;
    width: 15%;
    margin: 3px;
    background-color: #e6e6e6;
    color: rgba(52, 52, 52, 0.80);
    border: 0px solid;
}

.leftBlockUpJob{
    font-weight: bold;
    color: rgba(52, 52, 52, 0.80);
}

#jobsBtn{
    border: 0px solid;
    margin-top: 5%;
    margin-right: 0.1%;
    font-size: medium;
    opacity: 0.6;
    background-color: white;
}

#clockIcon{
    width: 12%;
    height: 12%;
    margin-top: 5%;
    margin-left: 3%;
}

.leftSched{
    color: #43b75b;
    display: inline-flex;
}

#leftSchedText{
    text-align: center;
    margin-top: 5%;
    margin-left: 6%;
}

#leftSchedCount{
    text-align: right;
    margin-left: 50%;
    margin-top: 5%;
    color: rgba(52, 52, 52, 0.80);
}

.leftBlockUp{
    height:95% ;
    margin-bottom: 5%;
}


.leftBlockDown{
    height:5% ;
    color: rgba(52, 52, 52, 0.80);
    padding-left: 5%;
    margin-left: 5%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.logoutImg{
    width: 12%;
    height: 60%;

}

.schedPlace{
    margin-bottom: 2%;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 2vw;
    font-weight: bold;
    color: rgba(52, 52, 52, 0.80);
}


.goBack{
    margin-top: 2%;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 1vw;
    color: rgba(52, 52, 52, 0.80);
}

.leftBlockJob{
    color: rgba(52, 52, 52, 0.80);
}

.status{
    color: rgba(52, 52, 52, 0.80);
    width: 100%;
}

.loginInput {
    width: 40%;
    height: max-content;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}

.loginBtn {
    width: 40%;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#LoginTitle {
    text-align: center;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.SchedTitleBar {
    background-color: white;
    width: 98%;
    height: 30px;
    margin-left: 1%;
}

.SchedTitle {
    display: inline-block;
    width: 8%;
    border-bottom: 1px solid lightgray;
}

.SchedUserJobBg {
    display: inline-block;
    width: 8%;
    height: 100px;
    background-color: #c7f4ae;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.SchedJobBg {
    display: inline-block;
    width: 4%;
    height: 100px;
    background-color: white;
    border-left: 0.1px solid lightgray;
    border-bottom: 0.1px solid lightgray;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.SchedJobDiv {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #59b12a;
    margin: 0px;
    padding: 0px;
    z-index: 8;
    white-space: nowrap;
}

.SchedJobExtDiv {
    z-index: 6;
}

.SchedNameTag {
    height: 10px;
    font-size: smaller;
}

.SchedJob {
    background-color: lightpink;
    margin: 0px;
    border-left: 2px solid gray;
}

hr {
    margin-left: 10px;
    color: gray;
}

.UnsignTag {
    height: 5px;
    font-size: smaller;
}

.UnsignTitle {
    height: 5px;
    font-size: smaller;
    font-weight: bold;
}

.NewJobPageLayer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e6e6e6;
    padding: 0;
    z-index: 90;
}

.NewJobPage {
    display: block;
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    padding: 20px;
    height: max-content;
    z-index: 99;
}

.NewJobTime {
    width: 30%;
}

.LoginPageLayer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0;
    z-index: 90;
    flex-direction: column;
    align-items: center;
}

.LoginPage {
    display: flex;
    width: 40%;
    position: relative;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: lightgray;
    align-items: center;
    height: max-content;
    opacity: 0.8;
    flex-direction: column;
}

.tmsTips{
    width: 100%;
    display: flex;
    position: relative;
    padding-left: 1%;
    height: max-content;
    width: max-content;
    flex-direction: column;
}

.tipsTitle{
    font-size: 2vw;
}

.tipsItem{
    font-size: 1vw;
    margin-bottom: 0.8%;
}

.otherPage {
    width: 50%;
    align-content: center;
    margin: 20%;
}

.LoadingLayer {
    display: flex;
    width: 60%;
    height: 60%;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(215, 255, 246);
    padding: 0;
    z-index: 99;
}

.LoadingImg {
    display: flex;
    width: 15vw;
    height: 15vw;
}

.protoLink{
    font-size: 1.5vw;
    /*align-self: flex-end;*/
}

.weekViewBox {
    display: flex;
    width: 14.26%;
    flex: 0 0 14.26%;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    flex-direction: column;
    /*padding-left: 0.2%;*/
    /*position: relative;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
}

.weekView{
    padding-left: 10%;
}

.weekViewItem{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 30%;
    width: 100%;
    height: 15%;
    padding-left: 5%;
    padding-top: 5%;
    /*position: relative;*/
    /*justify-content: flex-start;*/
    font-size: 0.8vw;

}